{% extends 'base.html' %}
{% block title %}Blogly{% endblock %}
{% block content %}

<div class="container">
        <h1>Blogly Recent Posts</h1>
        {% if posts %}
                {% for post in posts %}
                        <h3><a href="/posts/{{ post.id }}">{{ post.title }}</a></h3>
                        <p>{{ post.content }}</p>
                        <p><a href="/users/{{ post.user.id }}">{{ post.user.full_name }} on {{ post.friendly_date }}</a></p>
                {% endfor %}
        {% endif %}
    
</div>

{% endblock %}