{% extends 'base.html' %}
{% block title %}New tag{% endblock %}
{% block content %}

    <h1>Create a tag</h1>
    <form action="/tags/new" method="POST">
        <label for="name">Name</label>
        <input id="name" class="form-control col-sm-6" name="name">
        {% for post in posts %}
            <input type="checkbox" id="{{ post.id }}" name="posts" value="{{ post.id }}">
            <label for="{{ post.id }}"> {{ post.title }}</label><br>
        {% endfor %}
        <a href="/tags" class="btn btn-outline-info">Cancel</a>
        <button type="submit" class="btn btn-success ml-auto mr-3">Add</button>
    </form>



{% endblock %}